.side-bar {
  position: fixed;
  top: 0;
  right: 0;
  width: 500px;
  justify-content: center;
  align-items: center;
  opacity: 0;
  background-color: var(--bs-light);
  padding: 30px 50px;
  transform: translateX(100%);
  transition: var(--smooth);
  overflow-y: scroll;
  bottom: 0;
  z-index: 100;
}

.side-bar.side-bar-open {
  transition: var(--smooth);
  transform: translateX(0%);
  opacity: 1;
}
/* side bar close button */
.close-button .icon {
  background-color: var(--bs-indigo);
  color: var(--bs-light);
  font-size: 30px;
  padding: 9px 9px;
  border-radius: 30px;
  transform: rotate(-90deg);
  transition: 0.3s;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.close-button .icon:hover {
  transform: rotate(90deg);
  transition: 0.3s;
}
/* sidebar  decs */
.description {
  text-align: center;
  line-height: 30px;
  margin-bottom: 20px;
  color: var(--bs-secondary);
}
/* side bar logo */
.side-bar-logo {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.side-bar-logo img {
  width: 200px;
  height: 40px;
  object-fit: cover;
}
/* side bar images */
.sidebar-images {
  display: flex;
  flex-wrap: wrap;
  margin-left: 15px;
  column-gap: 10px;
  row-gap: 10px;
  margin-bottom: 30px;
}
.image {
  width: 116px;
  height: 116px;
}
.image:hover {
  scale: 1.1;
  transition: var(--smooth);
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* map */
.map {
  margin-bottom: 30px;
}
/* facebook */
.facebook {
  text-align: center;
}
